@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  body {             font-family: Arial, sans-serif;         }  
         .hero {             background: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg") center center/cover no-repeat;     
         height: 100vh;             
         display: flex;             
         justify-content: center;          
        align-items: center;           
         color:black;            
         text-align: center;        
         } 
.hero h1 {             font-size: 3rem;         }         
.section {             padding: 60px 20px;         }         
.services .card {             margin-bottom: 20px;         }  
.heading{
    font-weight:bold;
}
.button{
    background-color:#3BAE30;
}
.para{
    color:#3BAE30;
}
.btn{
    color:black;
    padding:2px;
    color:black;
    border-color:black;
}
.footer{
    background-color:#595959;
    color:white;
}