@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.container-m{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg");
    height: 300px;
    width:500px;
    background-size: cover;
    
}
h1{
    padding: 10px 50px;
    font-family: Poppins;
    font-weight: bold;
}