@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.navbar{
    background-color:FFFFFF;
}
.graph{
    color: #32AA27;
}
.p{
    color:#32AA27;
}
.smart{
    color: #020402;
}
.port{
    color: #020402;
}
.btn{
    color: #32AA27;
}