@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg');
    height: 50vh;
    width: 95vw;
    font-family: Poppins;
}

.container {
    background-color: #162415;
}

.p {
    color: #3BAE30;
}

.p2 {
    color: #32aa27;
}

.p3 {
    color: #808080;
}

.h1 {
    color: #020402;
}

.btn {
    color: #EEF1EF;
}

.btn1{
    background-clip: #EEF1EF;
}