.button1 {
    background-color: #32AA27;
    color: white;
}

.style1 {
    color: #32AA27;
}

.para {
    color: #808080;
}
.style2{
    color: #32AA27;
    
}

.container3{
    background-color: #EEF1EF;
}
.para2{
    color: #808080;
    
}
.container4{
    background-color: #EEF1EF;
}
.para3{
    color: #808080;
    
}
.container5{
    background-color: #020402;
    height: 250px;
    width: 600px;
}
.para{
    color: #EEF1EF;
    text-align: left;
}