@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.loop{
    background-image:url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg');
    height: 80vh;
    width: 150vh;
    padding: 5vh;
}
.man{
    color:#EEf1EF;
    background-color: #32AA27;
    padding: 1vh;
    
}
.l{
    color:#3BAE30 ;
    padding: 1vh;
}.k{
    font-family: Poppins;
    color: grey;
    padding: 2vh;
    
}
.p{
    font-family: Poppins;
}
.j{
    padding: 1vh;
    font-size: 3vh;
}
.b{
    color: #162415;
    background-color:#EEF1F;
    padding: 2vh;
}