@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.bg{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg');
    height: 500px;
    background-size: cover;
    
    
}
.bg-h1{
    display: flex;
}
.bg-content{
   padding-left:100px;
 }
 .btn{
     background-color: green;
     color: white;
 }
 .part-2{
     margin: 20px;
 }
 .part2-p{
     color: #3BAE30;
    
 }
 .part2-h{
     color:black;
     font-size: 40px;
     font-weight: bold;
 }
 .img2{
     height: 400px;
     width: 500px;
 }