@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.flex{
    display: flex 
}
.self {
    align-self: flex-end;
}
.img-1{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg');
 background-size : cover;
    width : 99%;
    height : 400px;
    display : flex;
    padding-left : 20px;
  align-items: center;
}
.white {
    background-color: #EEF1EF;
}
.img {
     background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/about-play-school.jpeg");
    height : 300px;
    width : 100vw;
    background-size : cover;
}