@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.img {
    background-image: ;
}

.coler {
    background-color: #32AA27;
    color: #EEF1EF;
    text-align: center;
}