@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.nav1{
   
}
.banner{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
}
.smile{
    color:#020402 ;
    font-family: Poppins;
    font-weight:bold;
}
.head{
    color:#020402 ;
    font-weight: bold;
}
.green{
    color: white;
    background-color: #32AA27;
    border:  #32AA27;
    height: 50px;
    width: 120px;
    font-family: Poppins;
}
.head5{
    color:#32AA27 ;
}
.photo{
    height: 200px;
    width: 200px;
}