@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.main{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg');
    height: auto;
    width: auto;
    background-size: cover;
    text-align: center;
    
}
.head{
    text-align: center;
    
}
.butto{
    background-color: #32AA27;
    color: white;
    border-color: transparent;
    border-radius:5px ;
}
.img1{
    height: 300px;
    text-align: left;
    padding: 20px;
}
.button1{
    background-color: white;
    color: #020402;
    border-color: transparent;
}
.head1{
    background-color: #EEF1EF;
}