@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.navbar-brand{
    font-size: bold;
}
.page-1{
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image:url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg');
}
.btn{
    background-color:#32AA27;
    color: #ffffff;
}
.page2{
    background-color: #EEF1EF;
}
h3{
    font-size: 20px;
    color: #3BAA27;
}
button{
    background-color: #EEF1EF;
    
}
.foot{
    background-color: #162415;
    color: #FFFFFF;
    padding: 10px;
}