@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.header{
    background-image:url('https://cdn.b12.io/client_media/MuU26M37/3ebb5386-2c8b-11f0-83d5-0242ac110002-jpg-hero_image.jpeg');
    height: 100vh;
    width: 100vh;
    text-align: center;
    padding:250px ;
    padding-left: 100px;
    position:relative ;
    
    
}
.button{
    color: #ffffff;
    background-color: #3BAE30;
}
.products{
    width: 80vh;
    padding: 50px;
}
.products-img{
  width: 80vh;
}
.footer{
    background-color: #020402;
    color: #ffffff;
}
.product-header{
    font-size: 20px;
}
.bg-color{
    background-color: #EEF1EF;
}