@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.welcome-page{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg");
height:100vh;
width:100vh;
padding: 15vh;
}
.Welcome-button{
    background-color:#32AA27;
    color:white;
    border:0px;
}
.heading{
    padding: 2vh;
    color:#3BAE30;  
    font-family: "Poppins";

}
.Explore-page{
    background-color: #EEF1EF;
}
.footer-page{
    background-color: #162415;
    color:white;
    padding: 2vh;
}