@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container1 {
    height: 550px;
    width: 550px;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg');
}

.container2 {
    margin: 15px;
    padding: 5px;
}

.PARTHER {
    font-size: 20px;
    color: #3bA;
}