@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg') center center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;

}

.hero h1 {
    font-size: 3rem;
}

.section {
    padding: 60px 20px;
}

.services .card {
    margin-bottom: 20px;
}

.btn {
    color: #32AA27;
    background-color: #3BAE30;
    border-color: #32AA27;
    border-radius: 10px;

}

.vcx {
    color: #32AA27;
}

.gr {
    background-color: #EEF1EF;
}