@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar-brand {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.home-button{
    border: none;
    color: white;
    background-color: #3BAE30;
    padding: 10px;
    border-radius: 12px;
}
.head{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg");
    background-size: cover;
    height: 50vh;
    padding: 70px;
}
.read-button{
    color: black;
    background-color: transparent;
    border-color: black;
    font-weight: bold;
}
.footer{
    background-color: #162415;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.about{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
.para{
    font-weight: bold;
}
.blog{
    padding:30px; 
    display: flex;
}