@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.nav-link{
    color: #FFFFFF;
}
.navbar-nav{
    color: #FFFFFF;
}
.container1{
    height: 100vh;
    width:100vw;
}
.card1{
    height: 500px;
    width: 500px;
    background-size: cover;
    
}
.image1{
    height: 500px;
    width: 500px;
    background-size: cover;
}