@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    width: 100vw;
}
.welcome-part{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg');
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.btn{
    color: white;
    background-color: #32AA27;
    width: 250px;
}

.shopping-part{
    display: flex;
    
}
.shopping-para{
    color: #32AA27;
}