@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.back {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.but {
    background-color: #32AA27;
    color: #ffffff;
    font-family: "Popins";

}

.pad {
    padding: 100px;
}

.back2 {
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.col {
    color: #3BAE30;
    font-size: 20px;
}