@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.bg1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg");
    background-size: cover;
    width:730px;
    height: 500px;
}
.navbar{
    font-size: 20px;
}
.fonth1{
    margin:100px;
}