@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    line-height:1.6;
    font-family:'Helvitica Neue',Helvitica ,Sans-Serif,Times New Roman;
    background-color:#fff;
    color:#333;
}
.container{
    width:1100px;
}
.header-container{
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight:bold;
    font-size: 30px;
}
.nav-content{
    text-align:left;
    align-items:left;
}