@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#DentalHeading {
    color: #020402;
    font-family: Poppins;
    font-weight: bold;
}

.main-section {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg');
    height: 100vh;
}

.mid-main {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-left: 40px;
}

.view-services-btn {
    background-color: #32AA27;
    color: #FFFFFF;
    border-width: 0px;
    height: 45px;
    width: 150px;
}