@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_right {
    padding-right: 64px;
}

.content_left {
    padding-left: 64px;
}

.section1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg");
    height: 200px;
    background-size: cover;
}

@media all and (min-width:800px) {
    .section1 {
        background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg");
        height: 300px;
        background-size: cover;
    }

    .desktop_container {
        padding: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 and p {
        color: #020402;
    }

    button {
        color: #EEF1EF;
        background-color: #32AA27;
        width: 100px;
        border-radius: 3px;
    }

    .icone_container {
        display: none;
    }
}

@media all and (max-width:800px) {
    .section1 {
        background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg");
        height: 100vh;
        background-size: cover;
    }

    .desktop_container {
        padding: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 and p {
        color: #020402;
    }

    button {
        color: #EEF1EF;
        background-color: #32AA27;
        width: 100px;
        border-radius: 3px;
    }

    .content_right {
        display: none;
    }
}