@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.container{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.h1{
    font-family: Poppins;
    font-size: 60px;
    text-align: left;
    padding: 55px;
    justify-content:flex-end ;
    align-items: flex-end;
}

.p1{
    font-size: 30px;
}
.navbar {
    font-family: Poppins;
    font-style: italic;
}
.btn {
    background-color: green;
    color: white;
}
.container2{
    
}
.img {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    height: 230px;
    width: 200px;
}