@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.image {
    background-image: url("");
}

.button {
    background-color: #32AA27;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}