@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.body{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-gardening.jpeg");
    height:400px;
}
.transform{
    background-color:#EEF1EF;
}
.btn1{
    border:3px;
    background-color:#808080;
    border-color:black;
    color:black;
}
.plant{
    background-color:#EEF1EF;
    padding-top:20px;
}
footer{
    padding-top:5px;
    background-color:black;
    color:white;
    text-align: center;
}
.image{
    height:300px;
    width:300px;
}