@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.heading{
    font-size: 20px;
}
.btn{
    color: #32AA27;
}
.heading1{
    font-size: 20px;
}
.heading2{
    font-size: 20px;
}
heading3{
    font-size: 20px;
}
.heading4{
    font-size: 20px;
}