@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.bg-img{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg");
    background-size: cover;
    height: 700px;
    text-align: center;
    padding: 300px;
}
.but{
    background-color: green;
    border-radius: 10px;
    color: white;
    
}
.txt{
    font-weight: bold;
}