@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.img1{
    height: 80px;
    width: 100px;
}
.textcolor{
    color: #32aa27;
}
.backgroundcolor{
    background-color: #EEF1EF;
}
.textcolr2{
    color:#020402;
}
.footerback{
    background-color: black;
    color: white;
}