@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.btn {
    background-color: #32AA27;
}

.heading {
    font-size: 20px;
}

.para {
    font-size: 10px;
}

.mnb {
    text-align: right;
}