@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.topp {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg");
    background-size: cover;
    height: 30vh;
    padding-left: 20px;
    padding-top: 20px;
}

.top-head {
    font-weight: bold;
}

.top-btn {
    background-color: #32aa27;
    padding: 8px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-family: Poppins;
}

.ntgg {
    margin: 10px;
}

.sec-para {
    color: #3bae30;
    padding-top: 20px;
    font-family: Poppins;
    font-weight: bold;
}

.sec-head {
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
}

.ano-para {
    color: #808080;
    font-family: Poppins;
}

.img-2 {
    height: 30vh;
    margin-left: 30px;
    padding: 10px;
}

.about {
    margin-top: 20px;
    background-color: #eef1ef;
    padding: 8px;
}

.new-btn {
    padding: 9px;
    width: 25vw;
}

.foot {
    background-color: #162415;
    height: 20vh;
    color: #ffffff;
}

.footer-para {

    padding: 5px;
    padding-top: 50px;
    font-family: Poppins;
    font-weight: bold;

}

.navbar-brand {
    font-weight: bold;
}