@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
    background-color: #FFFFFF;
}

.navbar-brand {
    padding-left: 40px;
}

.navbar-link {
    padding-right: 400px;
}

.I {}