@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar-brand {
    font-weight: bold;
    color: #162415;
    font-family: Poppins;
    margin-left: 100px;
}

.navbar-nav {
    margin-left: 500px;
}

@media (max-width:994px) {
    .navbar-nav {
        margin-left: 0px;
    }
}

.nav-link {
    font-family: Poppins;
}

.nav-link:hover {
    color: #3BAE30;
    text-decoration: underline;
    text-decoration-color: #32AA27;
}

.landing-image {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-left: 100px;
    padding-top: 200px;
}

.heading {
    color: #020402;
    font-family: Poppins;
    font-weight: bold;
}

.para {
    color: #020402;
    font-family: Poppins;
}

.button {
    background-color: #32AA27;
    border-width: 0px;
    color: #ffffff;
    font-family: Poppins;
    padding: 10px;
}

.card-1 {
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.h3 {
    color: #3BAE30;
    font-family: Poppins;
}

.para-1 {
    color: #162415;
    font-family: Poppins;
    font-weight: bold;
}

.para-2 {
    font-family: Poppins;
}

.chair-img {
    height: 200px;
    width: 300px;
}

.Service-Page {
    background-color: #EEF1EF;
    padding-left: 100px;
    padding-top: 30px;
}

.tooth-img {
    height: 100px;
}