@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.first_image_container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg");
    height: 600px;
    width: 100vw;
    background-size: cover;
}

.heading_1 {
    font-weight: bold;
}

.para_1 {
    font-size: 18px;
}

.button_1 {
    font-weight: bold;
}

.container_2 {}

.text_content_2 {}