@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.navbar{
    background-color: #FFFFFF;
}
.content{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg");
    background-size: cover;
    height:50vh;
    width:100vw;
    position-: fixed;
    padding: 50px;
    font-size: 10px;
    font-display: bold;
    
    font-size: Poppins;
}

.head{
    color:#162415;
    
    
}
.button{
    background-color:#32AA27;
    color: #EEF1EF;
    
}
.sections{
    background-color:#FFFFFF ;
    padding: 10px;
    margin: 10px;
}
.footer{
    background-color: #020402;
    color:#595959;
}