@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    font-family: Poppins;
    padding: 0px;
}

.firstPage {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg');
    background-size: cover;
    height: 95vh;
    width: 90vw;
    margin: 0px;
    padding: 10px;

}

.nav-link {
    text-decoration: underline;
}

.hover::nav-link {
    color: #32AA27;
    text-decoration: underline;
}
.para{
    font-size:10px;
    padding-top:5px;
}
.greenp{
    color:#32AA27;
    font-weight: bold;
    padding-top:10px;
}
.heading{
    font-size: 16px;
    font-weight:bold;
    padding-top:10px;
}
.image{
    height:70vh;
    width:90vw;
}
.lastPages{
    background-color: #eef1ef;
    padding:10px;
    margin-top:10px;
}
.card{
    background-color: #ffffff;
    padding:10px;
    font-size:12px;
    margin-top:10px;
}
h1{
    font-size: 18px;
    font-weight:bold;
}
.footer{
    background-color:#162415 ;
    background-size: cover;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:10px;
    font-size: 10px;
}