@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
img{
    height: 300px;
    width: 300px;
}

.bg-img{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg');
    background-size: cover;
    height: 300px;
    width: 300px;
    text-align: center;
}

.button{
    color: #EEF1EF;
    background-color: #3BAE30;
    height: 60px;
    width: 140px;
}
.bg-color{
    background-color: #EEF1EF;
}