@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
    background-color: #EEF1EF;
    font-family: "Poppins";
    color: #020402;

}

.nav_item {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.bg_container {
    height: 50vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;

    justify-content: center;
    padding: 100px;

    background-image: url("https://cdn.b12.io/client_media/OBdq5QBx/755ff09e-2b06-11f0-8af7-0242ac110002-jpg-hero_image.jpeg");
}

.mainheading {
    color: #020402;
}

p {
    font-weight: 700;
    color: #020402;
}

.button1 {
    width: 200px;
    height: 50px;
    border-width: 0px;
    background-color: #32AA27;
    border-radius: 10px;
    color: #EEF1EF;
}
.img{
    height: 200px;
    width: 100%;
    justify-content: center;
}
.bg_container1{
    text-align: center;
}
.para{
    color:#32Aa27;
}