@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: "Poppins";
}
.navbar{
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight:bold;
}
.image{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg');
    height: 100vh;
    background-size: cover;
}
.heading{
    font-weight: bold;
    padding: 200px;
    font-size: 50px;
}
.subhead{
    font-size:20px;
}
.products_btn{
    height: 60px;
    font-size: 40px;
    background-color: #32AA27;
    color: #ffffff;
    border-color: #32AA27;
}
.para{
    width:50vh;
    margin: 60px;
}
.image1{
    width: 500px;
    margin: 60px;
}
.about{
    display: flex;
    flex-direction: row;
}
.products1{
    width:50vh;
    margin: 60px;
    display: flex;
    flex-direction: row;
}
.primage{
    display: flex;
    flex-direction: row;
}
.para1{
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}
.prs{
    font-size: 20px;
    
}
.read{
    
}