@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}


.navbar-brand{
    color:#020402;
    font-size: 25px;
    font-weight: bold;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.nav-link::hover{
    text-decoration: underline;
    color:#3BAE30;
}
.header{
    height: 80vh;
    
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-dental.jpeg');
background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.header-con h1{
 color:#020402;
 font-size: 40px;
 font-weight: bold;
 font-family: "Poppins";
}
.header-con p{
    color:#020402;
    font-family: "Poppins";
}
.header-con button{
    background-color: #32AA27;
    padding:10px;
    color:white;
    border-color: #32AA27;
}
.section{
     max-width: 1200px;
     margin: 10px;
     display: flex;
     justify-content: center;
}
.p {
    color:#32AA27;
     max-width: 500px;
       font-family: "Poppins";
}
.sectoin-con h2{
     color:#020402;
     font-family: "Poppins";
     font-weight: bold;
     max-width: 500px;
}
.pr{
    color: #595959;
     max-width: 500px;
}
.sectoin-img{
    width:100%;
    border-radius:  10px;
    padding: 10px;
   

}
.about{
    background-color:#eef1ef;
    padding:  20px;
}
.about h3{
    color:#020402;
     font-family: "Poppins";
     font-weight: bold;
}
.about-card{
    background-color: #ffffff;
    padding:30px;
    gap:10px;
}
.about-con{
    gap:10px;
}
.about-card img{
    height: 30vh;
}
.about-card button{
    background-color: #ffffff;
}
.footer{
    background-color: #020402;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer h5{
    color:#ffffff;
    
}
.footer li{
    color :#ffffff;
}