@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.nava{
    font-family: Poppins;
}
.firstpage{
    height: 100vh;
    width: 100vw;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg");
    background-size: cover;
     text-align: left;
    padding: 150px;
}
.heading1{
    font-family: Poppins;
    font-size: 70px;
  
   
}
.para1{
    font-size: 30px;
     font-family: Poppins;
}