@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100vh;
}
.h1 {
    font-family: "Poppins";
    font-size: 30px;
    padding: 10px;
}
.b1 {
    background-color: #32AA27;
    color: white;
    padding-left: 10px;
    border: 0px;
    height: 40px;
    width: 140px;
}
.h2 {
    font-family: "Poppins";
    color: #3BAE30;
    font-size: 15px;
    margin: 15px;
    padding: 10px;
}
.p {
    
    font-family: "Poppins";
    font-size: 22px;
    margin: 25px;
}
.p-2 {
    
    font-family: "Poppins";
    font-size: 15px;
    margin: 10px;
}
.image {
    margin: 20px;
}

.bg-2 {
    background-color: #EEF1EF;
    background-size: cover;
    height: 150vh;
    width: 70vh;
}
.image-2 {
    height: 250px;
    padding: 15px;
}
.h4 {
    height: 28px;
    padding: 20px;
    text-align: center;
}
.para3 {
    height:20px;
    color: #EEF1EF;
    padding: 20px;
}
.button {
    height: 40px;
    width: 135px;
}
.ok {
    text-align: center;
}
.footer {
    background-color: black;
    height: 50vh;
    width: 70vh;
    background-size: cover;
    color: white;
}
.ok2 {
    padding: 20px;
}