@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*Mobile First*/

.navbar-section {
    background-color: #FFFFFF;
}
.navbar-heading {
    font-size: 20px;
    padding: 20px;
}

.main-navbar {}

.header-section {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg");
    background-size: cover;
}

.header-section-heading {
    color: #162415;
    font-size: 30px;
    font-weight: bold;
}

.header-section-para {
    color: #162415;
    font-weight: 500;
}

.header-section-button {
    border-color: #32AA27;
    background-color: #32AA27;
    border-width: 0px;
    color: #FFFFFF;
}

/*Desktop View*/
@media screen and (min-width: 768px) {}