@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.navie{
    color:#020402;
    font-family: "Monoto";
    font-size: 30px;
}
.img-1{
background-size: cover;
height: 500px;
width: 480px;
}
.button1{
    background-color: #32AA27;
    color:#EEF1EF;
}