@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar-brand {
    text-align: center;
    font-family: Poppins;
}

.container {
    background-image: url(https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-departmental.jpeg);
    height: 130vh;
    width: 230vw;
}

.main-heading {
    text-align: center;
    justify-content: center;
    font-family: Poppins;
}

.paragraph {
    text-align: center;
    justify-content: center;

}

.button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border-color: green;
    border-bottom-color: green;
    text-align: center;
    justify-content: center;
}