@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar-brand{
    font-family: Poppins;
}

.home_background{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-page-iq-malll.jpeg");
    height: 33vh;
    width: 100%;   
}

body{
    font-family: Poppins;
}

.btn_1{
    background-color: #32AA27;
    color: #EEF1EF;
    border-radius: 5px;
    border-width: 0px;
    height: 50px;
    width: 150px;
}

.Mini-heading{
    color: #32AA27;
    font-size: 10px;
}