@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: "Poppins";
}
.header {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/landing-play-school.jpeg");
    background-size: cover;
    height: 500px;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.header-content {
    font-size: 30px;
}

.header-para {
    font-size: 20px;
}

.about-us {
    padding: 10px;
    margin: 15px;
}

.about-us-heading {
    color: #3BAE30;
}

.about-us-para {
    color: #808080;
}

.about-us-img {
    width: 100%;
}

.service {
    background-color: #EEF1EF;
    padding: 20px;
    margin: 15px;
}

.service-heading {
    font-size: 15px;
    color: #3BAE30;
}

.service-card {
    border-radius: 2px;
    padding: 5px;
}

.card-heading{
    font-size: 20px;
    font-weight: bold;
}
.card-para{
    color: #808080;
}
.card-button{
    padding: 15px;
    border-width: 2px;
    
}
.footer{
    background-color: #162415;
    color:#ffffff;
}
@media about-us and (min-width:768px){
    .about-us{
        display: grid;
        grid-template-columns:50px 50px;
    }
    .service-card{
        grid-auto-columns: 1fr 1fr;
        gap:10px
    }
}